@using ShopCars.Data.Models
@model IEnumerable<Car>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
        <div>
            @foreach (var car in Model)
            {
                <div>
                    <h3>Модель: @car.Name</h3>
                    <h4>Цена: @car.Price.ToString("c")</h4>
                    
                </div>
            }
        </div>
</body>
</html>
